.modal.hide.fade#terms{:style => "display: none;"}
  .modal-header
    %a{:class => "close", :"data-dismiss" => "modal", :href => "#"}
      &times;
 
  .modal-body
 
  %object{:data => "AdoptaShelter.pdf", :height => "670px", :type => "application/pdf", :width => "100%"}
    %p
      It appears you don't have a PDF plugin for this browser.
      No biggie... you can
      %a{:href => "AdoptaShelter.pdf"}
        click here to
        download the PDF file.